/**
 * 影像编辑页面样式
 */

#root {
	width: 1280px;
	height: 580px;
}
#toolbar {
	height: 40px;
}
#dwtcontrolContainer {
	position:relative;
	float: left; 
	width: 220px; 
	height: 418px; 
}
#dwtcontrolContainerLargeViewer {
	position:relative;
	float: left; 
	width: 790px; 
	height: 418px; 
}
